@use '@angular/material' as mat;
@use 'sass:map';

$app-font-stack: 'Roboto, "Helvetica Neue", Arial, sans-serif';

/*  Colores custom */
$my-primary-palette: mat.m2-define-palette(
  (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #1976d2,
    600: #115293,
    700: #115293,
    800: #0d47a1,
    900: #08306f,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    contrast: (
      50: black,
      100: black,
      200: black,
      300: black,
      400: black,
      500: white,
    ),
  )
);

$my-accent-palette: mat.m2-define-palette(mat.$m2-pink-palette, A200, 700, 900);
$my-warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary-palette,
      accent: $my-accent-palette,
      warn: $my-warn-palette,
    ),
    density: 0,
  )
);

/*  Aplicar core y temas */
@include mat.core();
@include mat.all-component-themes($my-theme);

/*  Variables CSS globales */
:root {
  --c-primary: #{mat.m2-get-color-from-palette($my-primary-palette, 500)};
  --c-primary-dark: #{mat.m2-get-color-from-palette($my-primary-palette, 700)};
  --c-primary-light: #{mat.m2-get-color-from-palette($my-primary-palette, 300)};
  --c-accent: #{mat.m2-get-color-from-palette($my-accent-palette, A200)};
  --c-warn: #{mat.m2-get-color-from-palette($my-warn-palette, 500)};
  --app-font-stack: #{$app-font-stack};
}

body {
  font-family: var(--app-font-stack);
}
