/* src/app/pages/home/home.component.css */

.spacer {
  flex: 1 1 auto; /* Esto empuja los elementos restantes al otro lado */
}

.cocktail-list-container {
  padding: 0 20px;
  max-width: 1400px; /* Limita el ancho máximo para grillas grandes */
  margin: 0 auto;
}

.error-message,
.empty-filter-message {
  text-align: center;
  padding: 40px;
  margin: 20px auto;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: #fff8e1; /* Fondo suave para alertas */
}

.error-message mat-icon,
.empty-filter-message mat-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
  display: block;
  margin: 0 auto 10px;
}

.error-message {
    border-color: #ffccbc;
    background-color: #ffebee;
    color: #c62828; /* Rojo oscuro de Material */
}