/* src/app/components/cocktail-card/cocktail-card.component.css */
.cocktail-card {
  position: relative;
  max-width: 350px;
  transition: transform 0.2s;
}
.cocktail-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
mat-card-image {
  height: 200px;
  object-fit: cover;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end; /* Mover el botón a la derecha */
}
/* Estilo para el menú contextual personalizado (CDK) */
.custom-menu {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  padding: 8px 0;
}
/* Estilo similar a mat-menu-item */
.custom-menu button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.1s;
}
.custom-menu button:hover {
  background-color: #eee;
}
.custom-menu mat-icon {
  margin-right: 10px;
  font-size: 20px;
}
