.cocktail-card {
  position: relative;
  max-width: 350px;
  transition: transform 0.2s;
}
.cocktail-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.cocktail-img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
