@use '@angular/material' as mat;
@use './utils/scss/theme' as theme;

body {
  margin: 0;

  background-color: var(--c-primary-dark);
  color: rgba(0, 0, 0, 0.87);
}

/* Overrides para Material, usando las variables CSS */
.mat-toolbar {
  background-color: var(--c-primary) !important;
  color: white !important;
}

.mat-flat-button.mat-primary {
  background-color: var(--c-primary);
  color: white;
}

.mat-flat-button.mat-accent {
  background-color: var(--c-accent);
  color: white;
}

.mat-flat-button.mat-warn {
  background-color: var(--c-warn);
  color: white;
}
